<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <title>Pokemon</title>
    <script src="https://use.fontawesome.com/44d41c7531.js"></script>

  </head>
  <body>
    <div class='top-nav'>
      <li><a href="">Trainers</a></li>
      <li><a href="/pokemon">Pokemon</a></li>
      <li><a href="">Gym</a></li>
    </div>
    <div class="main">
      <div class="pokemon-card">
        <img src="<%= pokeImg %>"></img>
        <div class="card-name">NAME: <%= pokemonInfo.pokemon_name %></div>
        <div class="card-id">ID: <%= pokemonInfo.id %></div>

        <div class="card-trainer">TRAINER: <%= pokemonInfo.name %></div>
        <div class="card-cp">CP: <%= pokemonInfo.cp %></div>
        <div class="card-gym">IN GYM: <%= pokemonInfo.in_gym %></div>
      </div>

    </div>

  </body>
</html>
